<h1>Bulk Discount: <%= @bulk_discount.id %></h1>

<p>Percentage Discount: <%= @bulk_discount.percentage %></p>
<p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>

<section>
  <ul>
    <li>
      <p> <%= button_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount), method: :get  %></p>
    </li>
  </ul>
</section>